* {
    font-family: "Comic Sans MS", "Comic Sans", "Arial";
}

body{
	background-color: lightblue;
}

h1,
h2 {
    text-align: center;
}

div {
    text-align: center;
}
button{
background-color: beige;
}

#yes button {
    width: 100px;
    height: 50px;
    font-weight: bold;
}

#no button {
    width: 100px;
    height: 50px;
    font-weight: bold;
}
